EXPO_PUBLIC_API_URL=https://vjhmhbkcbedprybxdbbu.supabase.co
EXPO_PUBLIC_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqaG1oYmtjYmVkcHJ5YnhkYmJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ3OTMzODIsImV4cCI6MjA2MDM2OTM4Mn0.pMkDxBk0y7hhMXWq-XaNHrTtx-SDUDk168N7awkzmdM